.filterbtn
{
    padding: 5px;
    margin-left: 50px;
    margin-top: 10px;
    background-color: red;
    color: white;
    cursor: pointer;
    font-size: large;
    font-weight: 400;
    transition: 500ms ease-out;
}
.filterbtn:hover
{
    background-color: royalblue;
    color: white;
    cursor: pointer;
    font-size: large;
    font-weight: 400;
}
.filterbar_wrapper
{
    position: relative;
}